{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Enrol.

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * None

    Context variables required for this template:
    * None
}}

{{#paypalenabled}}
<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="{{#paymentgateway}}{{ paypalsdk }}{{/paymentgateway}}"></script>
{{/paypalenabled}}

{{#stripeenabled}}
<script src="https://js.stripe.com/v3/"></script>
{{/stripeenabled}}

{{#disableenrollment}}
    <p class="text-center col-md-12">{{# str }}enrollmentsdisabled, enrol_payment{{/ str }}</p>
{{/disableenrollment}}

{{^disableenrollment}}
<div class="data-ref d-none" data-user="{{ userjson }}" data-cost="{{ costjson }}"></div>
<div class="container-enrol-payment container-fluid justify-content-center">

    <div class="text-center row">
        <div class="col-auto col-sm-12" style="max-width: 750px !important">
            {{#cost}}
            <div class="card mb-3">
                <div class="card-body p-0">
                    <table class="table m-0">
                        <tbody>
                            <tr class="tr-subtotal">
                                <th scope="row"><span>{{#str}}registrationfee, enrol_payment{{/str}}</span></th>
                                <td>{{ symbol }}<span class="span-subtotal">{{ price }} </span></td>
                            </tr>
                            <tr class="tr-discount d-none">
                                <th scope="row">
                                    <span >{{#str}}lessdiscount, enrol_payment{{/str}}</span>
                                </th>
                                <td>-{{ symbol }}<span class="span-discountamount">{{ discountamount }}</span></td>
                            </tr>
                            {{#hastax}}
                            <tr>
                                <th scope="row">
                                    <span>{{ taxstring }} </span>
                                </th>
                                <td>{{ symbol }}<span class="span-taxamount">{{ taxamount }}</span></td>
                            </tr>
                            {{/hastax}}
                            <tr class="tr-totalamount">
                                <th scope="row">
                                    <span class="subtotal">{{#str}}total, enrol_payment{{/str}} </small>
                                    <span class="span-units d-none"> (x {{ units }})</span>
                                </th>
                                <td class="td-totalamount">
                                    {{ symbol }}<span class="span-taxtotal">{{ taxtotal }}</span>
                                    {{ currency }}
                                </td>
                            </tr>
                            {{# allowdiscount }}
                            <tr>
                                <td colspan="3">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <table class="table m-0">
                                                <tbody>
                                                    <tr style="border: 0 !important">
                                                        <th style="border: 0 !important">
                                                            <div id="discount-container" class="text-center">
                                                                <form id="discountcode-from" class="needs-validation form-inline" novalidate>
                                                                    <div class="form-row justify-content-center w-100">
                                                                        <div class="form-group col-md-8 col-lg-6">
                                                                            <input
                                                                                type="text"
                                                                                id="discountcode"
                                                                                name="discountcode"
                                                                                class="form-control w-100"
                                                                                placeholder="{{#str}}  discountcode, enrol_payment{{/str}}"
                                                                                required
                                                                                />
                                                                        </div>
                                                                        <div class="form-group col-auto">
                                                                            <button
                                                                                class="btn btn-outline-primary white my-2"
                                                                                role="button"
                                                                                type="button">
                                                                            {{# str }}applydiscount, enrol_payment{{/ str }}
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    <tr class="tr-threshold d-none" style="border: 0 !important">
                                                        <td style="border: 0 !important">
                                                            <div class="alert alert-success mb-0">
                                                                <span>
                                                                    {{#str}}a, enrol_payment{{/str}}
                                                                    <b class="bold-discount">
                                                                        <span class="span-discount-alert">0%</span>
                                                                    </b>
                                                                    <span class="span-will-apply d-none">
                                                                        {{#str}}discountwillapply, enrol_payment,
                                                                        <span class="span-threshold">0</span>
                                                                        {{/str}}
                                                                    </span>
                                                                    <span class="span-discount-apply d-none">
                                                                        {{#str}}discountapply, enrol_payment{{/str}}
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="tr-discount-error d-none" style="border: 0 !important">
                                                        <td style="border: 0 !important">
                                                            <div class="alert alert-danger mb-0"></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/ allowdiscount }}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body p-0">
                    <table class="table m-0">
                        <tbody class="tbody-enrollment">
                            <tr class="tr-enrollment-user d-none">
                                <td colspan="3">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <table class="table table-striped table-sm m-0">
                                                <tbody class="tbody-enrollment-list"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{#allowmultiple}}
                            <tr class="tr-enrollment-form">
                                <td colspan="3" class="td-enrollment-form">
                                    <div class="card">
                                        <div class="card-body p-0">
                                            <table class="table m-0">
                                                <tbody>
                                                    <tr style="border: 0 !important">
                                                        <th style="border: 0 !important">
                                                            <div class="text-center">
                                                                <form
                                                                    id="enrollment-from"
                                                                    class="needs-validation w-100 form-inline"
                                                                    novalidate
                                                                    >
                                                                    <div
                                                                        class="form-row justify-content-center w-100"
                                                                        >
                                                                        <div class="form-group col-md-8 col-lg-6">
                                                                            <input type="hidden" name="add" />
                                                                            <input
                                                                                type="email"
                                                                                name="email"
                                                                                class="form-control w-100"
                                                                                placeholder="{{#str}}  enteremail, enrol_payment{{/str}}"
                                                                                disabled
                                                                                required
                                                                                />
                                                                        </div>
                                                                        <div class="form-group col-auto">
                                                                            <button
                                                                                class="btn btn-outline-primary white my-2 mr-2"
                                                                                role="button"
                                                                                type="button"
                                                                                disabled
                                                                                >
                                                                            {{# str }}addaregistrant,
                                                                            enrol_payment{{/ str }}
                                                                            </button>
                                                                            {{{multipleregicon}}}
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    <tr
                                                        class="tr-enrollment-error d-none"
                                                        style="border: 0 !important"
                                                        >
                                                        <td style="border: 0 !important">
                                                            <div class="alert alert-danger mb-0"></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/allowmultiple}}
                            {{#gatewaysenabled}}
                            {{#paymentgateway}}
                            <tr class="tr-buynow-action d-none">
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-12">
                                            <form
                                                id="buynow-form"
                                                action="{{ buynowaction }}"
                                                method="post"
                                                class="m-0 col-3 m-auto">
                                                {{{inputs}}}
                                                <button
                                                    type="button"
                                                    id="checkout-button"
                                                    class="btn btn-primary"
                                                    style="
                                                        border-radius: 4px;
                                                        font-weight: normal;
                                                        font-size: 1.2em;
                                                        display: flex;
                                                        justify-content: center;
                                                        line-height: 1.5;">
                                                    {{# str }}enrolme, enrol_payment{{/ str }}
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr class="tr-gateway-action d-none">
                                <td colspan="3">
                                    <div class="row">
                                        {{#paypalenabled}}
                                        <div class="col-12">
                                            <form
                                            id="paypal-form"
                                            action="{{ paypalaction }}"
                                            method="post"
                                            class="m-0 ml-4 d-flex justify-content-center">
                                                {{{inputs}}}
                                                <!-- Set up a container element for the button -->
                                                <div id="paypal-button-container" style="max-width:324px;" class="container-fluid"></div>
                                            </form>
                                        </div>
                                        {{/paypalenabled}}
                                        {{#stripeenabled}}
                                        <div class="col-12 mb-2 pl-5">
                                            <form
                                                id="stripe-form"
                                                action="{{ stripeaction }}"
                                                method="post"
                                                >
                                                {{{inputs}}}
                                                <button
                                                    type="button"
                                                    id="checkout-button"
                                                    class="btn text-light font-weight-bold p-0 ml-2"
                                                    style="
                                                        background: #7656c3;
                                                        border-color: transparent;
                                                        border-radius: 4px;
                                                        font-size: 13px;
                                                        min-width: 295px;
                                                        min-height: 30px;">
                                                    {{# str }}sendpaymentbutton_stripe, enrol_payment{{/ str }}
                                                </button>
                                            </form>
                                        </div>
                                        {{/stripeenabled}}
                                    </div>
                                </td>
                            </tr>
                            {{/paymentgateway}}
                            {{/gatewaysenabled}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{/cost}}
        </div>
    </div>
    <div class="text-center row">
        <div class="col-md-auto">
            <div
                class="enrol-payment-enrollment alert alert-danger"
                style="display: none"
                ></div>
        </div>
    </div>

    {{^gatewaysenabled}}
    <p class="text-center col-md-12">
        {{# str }}nogatewayenabled, enrol_payment{{/ str }}
    </p>
    {{/gatewaysenabled}}

    <div class="p-3">
        <span id="interac-text" class="banktransferinfo d-none">{{{transferinstructions}}}</span>
    </div>
</div>
{{#cost}}
{{#paymentgateway}}
<script type="text/javascript">
  const createOrder = (data, actions) => {
    const valueType = (inputs, name, val, isString) => {
      if (isString) return (inputs[name] = val);
      inputs[name] = Number(val);
    };
    const converToString = (val) => `${val}`;
    const definitionMoney = (val) => {
      return {
        currency_code,
        value: converToString(val),
      };
    };
    const inputs = {};
    const formid = "form#paypal-form";
    const chars = [
      "currency",
      "prepaytoken",
      "userids",
      "coursename",
      "courseid",
    ];
    const names = [
      ...chars,
      "price",
      "subtotal",
      "discountamount",
      "discountsubtotal",
      "discounttotal",
      "taxamount",
      "taxsubtotal",
      "taxtotal",
      "units",
    ];
    for (const name of names) {
      const val = $(formid).children(`input[name='${name}']`).val();
      valueType(inputs, name, val, chars.includes(name));
    }

    /**
     * currency_code = code money
     * units = number of buyers
     * tax = purchase tax
     * price = price with discount or price item
     * priceTotal = prece for units
     * taxTotal = tax for units
     * */

    const discount = inputs.discountamount;
    const currency_code = inputs.currency;
    const taxamount = inputs.taxamount;
    const quantity = inputs.units;
    /**
     * - base price of item
     * if-> discounted item price
     */
    let price = inputs.price;
    if (discount) price = inputs.discountsubtotal;
    /**
     * - price multiplied by units
     * if-> discounted price multiplied by units
     */
    let priceTotal = inputs.subtotal;
    if (discount) priceTotal = inputs.discounttotal;
    // tax multiplied by units
    let taxTotal = (taxamount * quantity).toFixed(2);
    // total amount to pay
    let total = inputs.subtotal;
    if (discount) total = inputs.discounttotal;
    if (taxamount) total = inputs.taxtotal;

    const order = {
      purchase_units: [
        {
          invoice_id: inputs.prepaytoken,
          reference_id: inputs.prepaytoken,
          description: `Course purchased by:${inputs.userids}`,
          amount: {
            value: converToString(total),
            currency_code,
            breakdown: {
              item_total: definitionMoney(priceTotal),
              tax_total: definitionMoney(taxTotal),
            },
          },
          items: [
            {
              sku: inputs.courseid,
              name: inputs.coursename,
              quantity: converToString(quantity),
              unit_amount: definitionMoney(price),
              tax: definitionMoney(taxamount),
            },
          ],
        },
      ],
    };
    return actions.order.create(order);
  };

  const onApprove = (data, actions) => {
    return actions.order.capture().then(function (orderData) {
      const { purchase_units, id, status, intent, create_time } = orderData;
      const [{ reference_id, description, payments, amount, items }] =
        purchase_units;
      const [{ quantity, sku }] = items;
      const [transaction] = payments.captures;
      const { item_total, tax_total } = amount.breakdown;
      const formid = `form#${id}`;

        // Check if a form already exists and remove it if necessary
        if ($(formid).length) {
            $(formid).remove();
        }

        // Object with the data
        var obj = {
            instanceid: "{{instanceid}}",
            sessionid: "{{sessionid}}",
            courseid: sku,
            userid: "{{#user}}{{id}}{{/user}}",
            value: item_total.value,
            tax: tax_total.value,
            units: quantity,
            userids: description.split(":")[1],
            gatewayid: id,
            status: status,
            type: intent,
            createdAt: Math.floor(new Date(create_time).getTime() / 1000)
        };

        // Create a new form
        const form = $('<form>', {
            'id': id,
            'action': '{{transaction}}',
            'method': 'post'
        });

        // Iterate over the properties of the object and add inputs to the form
        $.each(obj, function(key, value) {
            form.append($('<input>', {
                'type': 'hidden',
                'name': key,
                'value': value
            }));
        });

        // Add the form to the document body
        $('body').append(form);

        // Automatically submit the form
        $(formid).submit();
    });
  };

  paypal
    .Buttons({
      style: {
        layout: "vertical",
        color: "gold",
        shape: "rect",
        label: "paypal",
        height: 30,
        borderRadius: 5,
        disableMaxWidth: true
      },
      // Sets up the transaction when a payment button is clicked
      createOrder,
      // Finalize the transaction after payer approval
      onApprove,
    })
    .render("#paypal-button-container");
</script>
{{/paymentgateway}}
{{/cost}}
{{/disableenrollment}}
